@charset "utf-8";
#introduction {
    background-color: #465964;
}

.intron {
    display: flex;
    width: 15%;
    margin: 1%;
}

.intron_1 {
    flex: 1;
    margin: 15% 50% 3%;
}

.intron_2 {
    color: aliceblue;
    border-radius: 5px;
    background-color: #414b57;
    min-width: 400px;
    height: 80px;
    flex: 1;
    padding: 30px 0px 40px 40px;
    margin: 35px 0px 0px 20px;
    text-align: left;
    font-size: 20px;
}
#introduction > ol > li > p {
    color: aliceblue;
}

#btn_D {
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    padding: 1% 3%;
    margin: 1% 10% 5% 60% ;
    background-color: #3e8e41;
    border: solid;
    border-radius: 5px;
}

.container {
    width: 1200px;
    padding: 30px 0px 100px 100px;
    margin: 50px 0px 100px 100px;
}
.titlec {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: -8%;
    margin-left: -3%;
}
.titlec li {
    border-radius: 15px;
    font-size: 23px;
    color: aliceblue;
    text-align: center;
    list-style: none;
    padding: 5% 3%;
    cursor: pointer;
}
.content.active {
    background-color: #465964;
    color: #465964;
    display: block;
}
.active {
    background-color: #3e8e41;
}
.content {
    height: 450px;
    display: none;
    margin-top: 0;
}
ol {
    padding: 30px;
    margin: 30px;
}