@font-face {
    font-family: Wind;
    src: url('svn-last_paradise-webfont.woff2') format('woff2'),
    url('svn-last_paradise-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#center {
    background: url("../Images/bg.jpg") no-repeat fixed center;
}
#left {
    float: left;
    list-style-type: none;
    padding: 3% 1%;
    margin: 1% -1%;
    overflow: hidden;
}

#left li{
    list-style: none;
}

#left li a{
    font-size: 25px;
    font-family: Wind;
    color: white;
    padding: 2px;
    margin: 0px;
    text-decoration: none;
}
#top{
    height: 113px;
    width: 100%;
    border-bottom: 2px solid #DDDDDD;
}
#top img{
    margin-top: 30px;
}

#nav{

    margin-left: 56px;
    height: 113px;
}

.nav li{
    float: left;
    margin-top: 40px;
    padding: 10px 20px 10px 10px;
    background: #18292b;
    position: relative;
}
.nav li a{
    color: aliceblue;
    font-size: 16px;
}
.nav li:hover a{
    color: #EFFAF3;
}

.nav li:hover{
    background: #0DAD51;
    color: #FFFFFF;
}

.nav li div{
    position: absolute;
    bottom: -12px;
    display: none;
}

#search{
    width: 240px;
    height: 45px;
    margin-left: 95px;
    margin-top: 36px;
    background-color: #18292b;
}
#search .text{
    color: #795261;
    margin-top: 12px;
    margin-left: 18px;
    border: 0px;
    width: 170px;
}
#search .button{
    background-color: #333333;
    color: aliceblue;
    width: 40px;
    height: 25px;
    margin-left: 2px;
    border: 0 none;
    opacity: 1;
    cursor: pointer;
}

#main{
    margin-top: 18px;
}
#side_left{
    width: 700px;
}

.app {
    width: 100%;
    margin: 5% 0;
    text-align: center;
}

.app .scroll {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30%;
}

.app .scroll .img {
    display: none;
    width: 100%;
    height: 250px;
}

.app .scroll .current {
    display: block;
}



.scroll .lf {
    position: absolute;
    top: 50%;
    left: 10px;
    background-image: url('../Images/s1.png');
    background-position: -83px 0;
    width: 41px;
    height: 69px;
    cursor: pointer;
    transform: translateY(-50%);
}

.scroll .lr {
    position: absolute;
    top: 50%;
    right: 10px;
    background-image: url('../Images/s1.png');
    background-position: -123px 0;
    width: 41px;
    height: 69px;
    cursor: pointer;
    transform: translateY(-50%);
}

.dots {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 160px;
}

.dots>span {
    display: inline-block;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
    border: 3px solid rgba(204, 204, 204, 0.2);
    border-radius: 15px;
    cursor: pointer;
}

.dots>span:not(:last-child) {
    margin-right: 5px;
}

/* 小圆点的颜色 */
.dots .square {
    background: #f46;
}
.section_top{
    border-left: 5px solid;
    padding-left: 8px;
    margin-bottom: 22px;
}
.section_top h1{
    display: inline-block;
    margin-right: 12px;
    font-size: 25px;
    color: #333333;
}
.section_top a,.hot_singer_title a{
    color: #0C8F44;
    font-size: 14px;
}
.section_top .pre{
    background: url(../img/icon_sprite.png)no-repeat -33px -96px;
}
.section_top .next{
    background: url(../img/icon_sprite.png)no-repeat 0px -129px;
}
.section_top .pre,.section_top .next{
    display: inline-block;
    width: 31px;
    height: 30px;
}
.section_top .next:hover{
    background: url(../img/icon_sprite.png)no-repeat -64px -129px;
}
#online_first{
    margin-top: 22px;
}
#online_first li{
    float: left;
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
}
#online_first li img{
    width: 130px;
}
#online_first p{
    height: 47px;
    width: 130px;
    position: absolute;
    bottom: 0px;
    opacity: 0.5;
    background-color: black;
}
#online_first h3{
    position: absolute;
    bottom: 30px;
    color: #0CC65B;
    font-size: 13px;
    top: 90px;
    left: 5px;
    z-index: 3;
}
#online_first span{
    position: absolute;
    bottom: 4px;
    font-size: 12px;
    left: 5px;
    z-index: 3;
    color: #D1FFA4;
}
#online_first .btn{
    position: absolute;
    display: none;
    width: 18px;
    height: 18px;
    background: url(../img/icon_play.png)no-repeat -1px -1px;
    top: 50px;
    right: 5px;
}
#online_first li:hover .btn{
    display: inline-block;
}
#online_first li .btn:hover{
    background: url(../img/icon_play.png)no-repeat -21px -1px;
}
#music_list{
    margin-top: 22px;
}
#music_list li{
    width: 160px;
    height: 160px;
    float: left;
    position: relative;
}
#music_list img{
    width: 160px;
    height: 90px;
}
#music_list .mv_name,#ranking_list h5 a,.singer_list a,.act_content  p a{
    font-size: 12px;
    color: #0C8F44;
}
#music_list .mv_name:hover,#ranking_list h5 a:hover,.singer_list a:hover,.act_content p a:hover{
    color: #00CC33;
}
#music_list p span{
    padding: 0px 2px;
}
#music_list .singer_name,#ranking_list p a,.rank_index a{
    font-size: 12px;
    color: #515151;
}
#music_list .singer_name:hover,#ranking_list p a:hover,.rank_index a:hover{
    color: #000000;
}
#music_list p{
    font-size: 12px;
    color: #8B8B8B;
}
#music_list li p a{
    line-height: 34px;
}
#music_list li>span{
    font-size: 12px;
    color: #B8B8D7;
    float: right;
    margin-top: 8px;
}
#music_list .mv_btn{
    position: absolute;
    display: none;
    width: 18px;
    height: 18px;
    background: url(../img/icon_play.png)no-repeat -1px -1px;
    right: 5px;
    bottom: 75px;
}
#music_list li:hover .mv_btn{
    display: inline-block;
}
#music_list .mv_btn:hover{
    background: url(../img/icon_play.png)no-repeat -21px -1px;
}
#recommend{
    margin-top: 37px;
}
#new_recommend{
    float: left;
    width: 333px;
}
.broadcast{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icon_sprite.png)no-repeat 0px -64px;
    margin: 0px 10px 0px 8px;
}
.broadcast:hover{
    background: url(../img/icon_sprite.png)no-repeat -30px -64px;
}
.add{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icon_sprite.png)no-repeat -56px -285px;
}
.add:hover{
    background: url(../img/icon_sprite.png)no-repeat -88px -285px;
}
.language a,.area a{
    font-size: 12px;
    line-height: 30px;
    color: #0C8F44;
}
.language a:hover,.area a:hover{
    color: #00CC33;
}
.language span,.area span{
    font-size: 12px;
    padding: 0 6px 0;
    color: #D8D8D8;
}

.language .select,.area .select{
    color: #333361;
    font-weight: bold;
}
.recommend_list span,.recommend_singer,.recommend_song{
    font-size: 13px;
    line-height: 37px;
}
.recommend_song{
    color: #0C8F44;
}
.recommend_song:hover{
    color: #00CC33;
}
.recommend_list span{
    display: inline-block;
    padding: 0 6px;
}
.recommend_singer{
    color: #515151;
}
.recommend_singer:hover{
    color: #000000;
}
#hot_recommend{
    float: left;
    margin-left: 16px;
    border-left: 2px solid #E5E5E5;
}
#hot_recommend ul{
    margin-left: 21px;
}
#choice{
    margin-top: 26px;
}
.choice_left{
    width: 271px;
}
.choice_left a,.choice_right a{
    font-size: 12px;
    color: #0C8F44;
}
.choice_left a:hover,.choice_right a:hover{
    color: #00cc33;
}
.choice_left span{
    font-size: 12px;
    color: #8B8B8B;
    padding-top: 6px;
    display: inline-block;
}
.choice_right{
    margin-left: 15px;
}
.choice_right ul{
    width: 414px;
}
.choice_right li{
    float: left;
    width: 130px;
}
.choice_right img{
    width: 130px;
    height: 130px;
}
#side_right{
    width: 224px;
    margin-left: 36px;
}
#ranking{
    margin-top: 20px;
}
.side_right_title{
    display: inline-block;
    font-size: 18px;
    color: #A9A9A9;
    line-height: 30px;
}
#ranking_list{
    margin-top: 15px;
}
#ranking_list ul{
    width: 22px;
}
#ranking_list .ranking_one{
    height: 50px;
}
#ranking_list .ranking_one span{
    float: left;
    width: 32px;
    height: 18px;
    background: url(../img/icon_sprite.png)no-repeat -164px -225px;
    margin-top: 0px;
}
#ranking_list .ranking_one img{
    float: left;
    height: 50px;
    margin-left: 12px;
    margin-right: 12px;
}
#ranking_list .ranking_one .ranking_one_song{
    font-size: 20px;
    color: #FF5400;
    margin-top: 4px;
    font-weight: bold;
    cursor:pointer;
}
#ranking_list .ranking_one .ranking_one_song:hover{
    color: #00cc33;
}
#ranking_list .ranking_one .ranking_one_singer{
    color: #515151;
    font-size: 12px;
    margin-top: 12px;
    cursor:pointer;
}
#ranking_list .ranking_one .ranking_one_singer:hover{
    color: #000000;
}
#ranking_list{
    padding-bottom: 20px;
    border-bottom: 1px dotted #C6C6C6;
}
#ranking_list li{
    height: 13px;
    margin-top: 8px;
}
#ranking_list span{
    float: left;
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url(../img/icon_sprite.png)no-repeat -166px -285px;
    margin-top: 7px;
}
#ranking_list h5{
    float: left;
    margin-left: 27px;
}
#ranking_list p{
    float: right;
}

#hot_singer{
    margin-top: 26px;
}
.singer_list{
    height: 162px;
    margin-top: 15px;
    padding-bottom: 24px;
    border-bottom: 1px dotted #C6C6C6;
}
.singer_list li{
    width: 50px;
    float: left;
}
.singer_list img{
    width: 50px;
}

#activity{
    margin-top: 20px;
}
.act_content{
    margin-top: 20px;
}
/*center*/

footer{
    background: url(../Images/bb.jpg);
    color: aliceblue;
    padding: 80px 0;
    text-align: center;
}

.fab {
    color: aliceblue;
    text-decoration: none;
}
.sm {
    margin-top: 20px;
}

.sm a {
    font-size: 20px;
    color: #cacb89;
}

.copyright{
    margin-bottom: 20px;
    font-size: 15px;
}

.copyright a{
    text-decoration: none;

    font-size: 16px;
    color: #48dbfb;
    font-weight: 500;
}
